@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

/* body {
  @apply bg-gray-100;
} */
 
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  html.dark {
    color-scheme: dark;
  }
}
@layer utilities {
  .animate-once {
    animation: ping 0.5s ease-in-out 1;
  }
}


